.center{
	margin-right: 50%;
	margin-left: 50%;
}
body{
	margin: 0;
	padding: 0;
	color: black;
	font-family: Arial;
}

.links{
	text-decoration-line: none;
}
.stat{
	text-align: center;
	padding: 15px;
}
.pic{
}